{
 :description "Visual demo of the project"
 :map         {
               :size-x 24
               :size-y 16
               :type   agenta.game-map/forest
               }
 :unit-types  [
               {:name        "Footman"
                :baseAttack  5
                :randAttack  6
                :range       1.45
                :attackSpeed 25
                :visibility  7
                :speed       40
                :hitPoints   70
                :image       "footman"
                :perk        {
                              "select" agenta.perk/select-random-memoized
                              }}
               {:name        "Archer"
                :baseAttack  3
                :randAttack  5
                :range       5.5
                :attackSpeed 40
                :visibility  7
                :speed       40
                :hitPoints   55
                :image       "archer"
                :perk        {
                              "select" agenta.perk/select-weakest
                              }}
               {:name        "Knight"
                :baseAttack  9
                :randAttack  7
                :range       1.45
                :attackSpeed 40
                :visibility  7
                :speed       25
                :hitPoints   110
                :image       "knight"
                :perk        {
                              "select" agenta.perk/select-random-memoized
                              }}
               ]
 :placement   {
               0 {
                  "footman" 10
                  "archer"  10
                  "knight"  4
                  }
               1 {
                  "footman" 10
                  "archer"  10
                  "knight"  4
                  }
               }
 :experiment  {
               :max-ticks 10000
               :total     5
               }
 }
