{
 :description "Visual demo of the project"
 :map         {
               :size-x 24
               :size-y 16
               :type   agenta.game-map/forest
               }
 :unit-types  [
               {:name        "Footman"
                :base-attack 5
                :randAttack  6
                :range       1.45
                :attackSpeed 25
                :visibility  7
                :max-spd     40
                :thinkSpeed  25
                :max-health  70
                :image       "footman"
                :perk        {
                              :select agenta.perk/select-random-memoized
                              :move   agenta.perk/move-to-friends
                              }}
               {:name        "Archer"
                :base-attack 3
                :randAttack  5
                :range       5.5
                :attackSpeed 40
                :visibility  7
                :max-spd     40
                :thinkSpeed  25
                :max-health  55
                :image       "archer"
                :perk        {
                              :select agenta.perk/select-weakest
                              :move   agenta.perk/move-randomly
                              }}
               {:name        "Knight"
                :base-attack 9
                :randAttack  7
                :range       1.45
                :attackSpeed 40
                :visibility  7
                :max-spd     25
                :thinkSpeed  25
                :max-health  110
                :image       "knight"
                :perk        {
                              :select agenta.perk/select-random-memoized
                              :move   agenta.perk/move-randomly
                              }}
               ]
 :placement   {
               0 {
                  "footman" {
                             :count 10
                             :location [6 12 0 10]
                            }
                  "archer"  {
                             :count 10
                             :location [2 6 0 16]
                            }
                  "knight"  {
                             :count 4
                             :location [6 12 10 16]
                            }
                  }
               1 {
                  "footman" {
                             :count 10
                             :location [12 18 0 10]
                            }
                  "archer"  {
                             :count 10
                             :location [18 22 0 16]
                            }
                  "knight"  {
                             :count 4
                             :location [12 18 10 16]
                            }
                  }
               }
 :experiment  {
               :max-ticks 10000
               :total     5
               }
 }
