{
 :description "Select-memo-vs-weakest experiment. What is more effective: beat previous target or the weakest one?"
 :map         {
               :size-x 18
               :size-y 18
               :type   agenta.game-map/plane
               }
 :unit-types  [
               {:name        "Assassin"
                :attackSpeed 3
                :baseAttack  1
                :randAttack  4
                :hitPoints   10
                :speed       3
                :thinkSpeed  3
                :visibility  10
                :range       1.45
                :image       "footman"
                :perk        {
                              :select agenta.perk/select-weakest
                              :move   agenta.perk/move-randomly
                              }}
               {:name        "Warrior"
                :attackSpeed 3
                :baseAttack  1
                :randAttack  4
                :hitPoints   10
                :speed       3
                :thinkSpeed  3
                :visibility  10
                :range       1.45
                :image       "footman"
                :perk        {
                              :select agenta.perk/select-random-memoized
                              :move   agenta.perk/move-randomly
                              }}
               ]
 :placement   {
               0 {"warrior" {:count 10}}
               1 {"assassin" {:count 10}}
               }
 :experiment  {
               :max-ticks 500
               :total     100
               }
 }
