{
 :description "Select-memo experiment: units that remember previous target have more chances to win"
 :map         {
               :size-x 18
               :size-y 18
               :type   agenta.game-map/plane
               }
 :unit-types  [
               {:name        "Warrior"
                :attackSpeed 3
                :baseAttack  1
                :randAttack  4
                :hitPoints   10
                :speed       3
                :visibility  10
                :range       1.45
                :image       "footman"
                :perk        {
                              :select agenta.perk/select-random-memoized
                              :move   agenta.perk/move-randomly
                              }}
               {:name        "Recruit"
                :attackSpeed 3
                :baseAttack  1
                :randAttack  4
                :hitPoints   10
                :speed       3
                :visibility  10
                :range       1.45
                :image       "footman"
                :perk        {
                              :select agenta.perk/select-random
                              :move   agenta.perk/move-randomly
                              }}
               ]
 :placement   {
               0 {"recruit" 10}
               1 {"warrior" 10}
               }
 :experiment  {
               :max-ticks 500
               :total     100
               }
 }
