{
 :description "Select-weakest experiment: units that hits the weakest target have more chances to win"
 :map         {
               :size-x 18
               :size-y 18
               :type   agenta.game-map/plane
               }
 :unit-types  [
               {:name        "Assassin"
                :attackSpeed 3
                :baseAttack  1
                :randAttack  4
                :max-health  10
                :max-spd     3
                :thinkSpeed  3
                :visibility  10
                :range       1.45
                :image       "footman"
                :perk        {
                              :select agenta.perk/select-weakest
                              :move   agenta.perk/move-randomly
                              }}
               {:name        "Recruit"
                :attackSpeed 3
                :baseAttack  1
                :randAttack  4
                :max-health  10
                :max-spd     3
                :thinkSpeed  3
                :visibility  10
                :range       1.45
                :image       "footman"
                :perk        {
                              :select agenta.perk/select-random
                              :move   agenta.perk/move-randomly
                              }}
               ]
 :placement   {
               0 {"recruit" {:count 10}}
               1 {"assassin" {:count 10}}
               }
 :experiment  {
               :max-ticks 500
               :total     100
               }
 }
